<header class="main-header">
    <!--<h1 class="main-header__title">CarImports</h1>--->

    <div class="container-menu">
        <nav class="main-header__menu">
            <ul class="">
                <li><a routerLink="/cars">
                        <i class="fa-solid fa-car"></i>
                    </a>
                </li>
                <li>
                    <a routerLink="/brands">
                        <i class="fa-solid fa-flag"></i>
                    </a>
                </li>
                <li><app-search-bar></app-search-bar></li>
            </ul>
            
        </nav>

    </div>
</header>